
/* CHAMPIONS LIST */
.champions-list {
    grid-column: 1/2;
    grid-row: 2/-1;
    
}

.champions-list ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.champions-list li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 5px 10px;
    width: 150px;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.2);
}

li.selected {
    color: #f9f9f9;
    background-color: #9fa8da;
}

.champions-list li > span {
    display: block;
    font-size: 0.85em;
    padding-right: 5px;
}

.champions-list li:hover {
    cursor: pointer;
}

.champions-list img {
    width: 70px;
    height: 70px;
    border-radius: 10px 0 0 10px;
    padding: 0 5px 0 0;
}

/* CHAMPION INFO */
.champion-info {
    position: fixed;
    grid-column: 2/-1;
    grid-row: 2/-1;
    align-items: center;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.champion-info > span {
    font-size: 0.9em;
    display: block;
    margin: 2px auto;
}

.champion-info > img {
    border-radius: 10px 10px 0 0;
}

.champion-info > p {
    display: block;
    margin: 0 auto;
    margin-top: -6px;
    margin-bottom: 20px;
    padding: 0.7em;
    text-align: center;
    border-radius: 0 0 10px 10px;
    color: #f9f9f9;
    background-color: #404040;
    box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.2);
}

@media(min-width:320px) {
    .champions {
        grid-template-columns: 50% 50%;
    }

    .champions-list {
        padding-top: 5px;
    }

    .champions-list ul {
        padding: 0 0 0 5px;
        font-size: 0.8em;
    }

    .champions-list li {
        width: 145px;
    }

    .champion-info {
        padding-top: 50px;
        margin-left: 50%;
    }

    .champion-info > img {
        width: 90%;
        height: 180px;
    }

    .champion-info > p {
        width: 90%;
        font-size: 0.8em;
        line-height: 1.05em;
    }
}

@media(min-width:600px) {
    .champions {
        grid-template-columns: 55% 45%;
    }

    .champions-list {
        padding-top: 10px;
    }

    .champions-list ul {
        padding: 0 0 0 15px;
        font-size: 0.9em;
    }

    .champions-list li {
        width: 140px;
    }

    .champion-info {
        padding-top: 50px;
        margin-left: 55%;
    }

    .champion-info > img {
        width: 80%;
        height: 300px;
    }

    .champion-info > p {
        width: 80%;
        font-size: 0.8em;
        line-height: 1.2em;
    }
}

@media(min-width:900px) {
    .champions {
        grid-template-columns: 60% 40%;
    }

    .champions-list {
        padding-top: 5px;
    }

    .champions-list li {
        width: 150px;
    }

    .champion-info {
        margin-left: 60%;
    }

    .champion-info > img {
        width: 70%;
        height: 300px;
    }

    .champion-info > p {
        width: 70%;
        font-size: 1em;
        line-height: 1.2em;
    }
}

@media(min-width:1200px) {
    .champions {
        grid-template-columns: 70% 30%;
    }

    .champion-info {
        margin-left: 70%;
    }

    .champion-info > img {
        width: 60%;
        height: 320px;
    }

    .champion-info > p {
        width: 60%;
        line-height: 1.3em;
    }
}
